In [1]:
import pandas as pd

/Users/shashanksingh/opt/anaconda3/lib/python3.9/site-packages/pandas/core/computation/expressions.py:21: UserWarning: Pandas requires version '2.8.4' or newer of 'numexpr' (version '2.8.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED
/Users/shashanksingh/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arrays/masked.py:61: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.4' currently installed).
  from pandas.core import (

In [2]:
transport_df = pd.read_csv("Transport Data.csv")
fuel_df = pd.read_csv("fuel_prices.csv")

In [3]:
transport_df['Date'] = pd.to_datetime(transport_df['Date'])
fuel_df['Date'] = pd.to_datetime(fuel_df['Date'])

In [4]:
final_df = pd.merge(
    transport_df, 
    fuel_df, 
    on=['Date', 'City'], 
    how='left' 
)

In [5]:
final_df.isna().sum().sum()

0

In [6]:
final_df = final_df.drop(['Petrol_Price_y','Diesel_Price_y'], axis=1)

In [7]:
final_df.rename(columns={'Petrol_Price_x': 'Petrol_Price'}, inplace=True)
final_df.rename(columns={'Diesel_Price_x': 'Diesel_Price'}, inplace=True)

In [8]:
final_df.head()

,Trip_ID,Date,City,Vehicle_Type,Fuel_Type,Route,Distance_km,Load_Weight_kg,Total_Fuel_Cost,Petrol_Price,Diesel_Price,Temp_Mean_C,Precipitation_mm
0,925eb005-b309-4038-b367-4e169e96aba4,2025-10-22,Chennai,Van,Diesel,Route_C,2114.72,563.96,17298.10,100.8,92.39,26.8,35.2
1,6671f6c0-6dbc-4d65-a271-53197f308a35,2025-10-22,Chennai,Motorcycle,Petrol,Route_B,2333.02,0.00,5501.02,100.8,92.39,26.8,35.2
2,b0bf48c7-ed4b-4089-ae15-54f36b2bc09d,2025-10-22,Chennai,Van,Diesel,Route_C,964.37,57.65,7823.13,100.8,92.39,26.8,35.2
3,4f35166e-a6cc-45a2-8262-8eeb51e617f3,2025-10-22,Chennai,Motorcycle,Petrol,Route_C,1351.28,0.00,3186.18,100.8,92.39,26.8,35.2
4,8437191a-9a9c-4a3f-a4e1-472d12e9b7ed,2025-10-22,Chennai,Van,Diesel,Route_A,2473.00,454.14,20192.71,100.8,92.39,26.8,35.2

In [9]:
final_df.to_csv('final_dataset.csv', index=False)