In [1]:
import pandas as pd

/Users/shashanksingh/opt/anaconda3/lib/python3.9/site-packages/pandas/core/computation/expressions.py:21: UserWarning: Pandas requires version '2.8.4' or newer of 'numexpr' (version '2.8.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED
/Users/shashanksingh/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arrays/masked.py:61: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.4' currently installed).
  from pandas.core import (

In [2]:
transport_df = pd.read_csv("Transport Data.csv")
fuel_df = pd.read_csv("fuel_prices.csv")
weather_df = pd.read_csv("Weather Data.csv")

In [3]:
transport_df['Date'] = pd.to_datetime(transport_df['Date'])
fuel_df['Date'] = pd.to_datetime(fuel_df['Date'])
weather_df['Date'] = pd.to_datetime(weather_df['Date'])

In [4]:
merged_df = pd.merge(
    transport_df, 
    fuel_df, 
    on=['Date', 'City'], 
    how='left' 
)
final_df = pd.merge(
    merged_df,
    weather_df,
    on=['Date', 'City'],
    how='left' 
)

In [5]:
final_df.isna().sum().sum()

0

In [6]:
final_df.to_csv('final_dataset.csv', index=False)

In [7]:
final_df.head()

,Trip_ID,Date,City,Vehicle_Type,Fuel_Type,Route,Distance_km,Load_Weight_kg,Total_Fuel_Cost,Petrol_Price,Diesel_Price,Temp_Mean_C,Precipitation_mm
0,c764d41f-9521-4bfc-8c07-2c5fffc8e21b,2025-10-22,Chennai,Truck,Diesel,Route_C,2532.43,14274.99,65492.27,100.8,92.39,26.8,35.2
1,dc63e782-8978-4c93-8986-7dd5a9a6a5ec,2025-10-22,Chennai,Truck,Diesel,Route_B,2795.18,7538.01,60818.32,100.8,92.39,26.8,35.2
2,02533cdd-17ac-40b7-9b0c-f618ecc4c086,2025-10-22,Chennai,Truck,Diesel,Route_B,2934.21,12934.98,73139.49,100.8,92.39,26.8,35.2
3,18bcafd1-56b3-4c1a-9503-6824ed12f37d,2025-10-22,Chennai,Motorcycle,Petrol,Route_C,1964.62,0.00,4400.75,100.8,92.39,26.8,35.2
4,b53d379b-9a1c-4aa7-9183-57c6e8c11bc6,2025-10-22,Chennai,Van,Diesel,Route_C,2739.38,706.93,21215.93,100.8,92.39,26.8,35.2